<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" routerLink="/home">TCC</a>
  <div class="navbar-expand mr-auto">
    <nav class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/carregamentos">Solicitações</a>
      <a class="nav-item nav-link" routerLink="/expedicao">Expedição</a>
    </nav>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
    </div>
  </div>
</nav>
