<div class="container card card-default">

    <div class="card-body">
      <h5 class="card-title">Items marcados para expedição</h5>
      <h6 class="card-subtitle mb-2 text-muted">Filtrar por período</h6>
      <div class="row">
        <div class="col-sm">
          <div class="form-group">
            <select class="form-control" id="selectFiltroPeriodo" [(ngModel)]="filtroPeriodo">
              <option value="todos">Todos</option>
              <option value="hoje">Hoje</option>
              <option value="proximos7dias">Próximos 7 dias</option>
              <option value="proximos15dias">Próximos 15 dias</option>
              <option value="proximos30dias">Próximos 30 dias</option>
            </select>
          </div>
        </div>
        <div class="col-sm">
          <button type="button" (click)="filtrar()" class="btn btn-primary">Filtrar</button>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Solicitação</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Data Expedição</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let f of itensExpedicao">
              <td>{{f.detalheSolicitacao.solicitante}}</td>
              <td>{{f.detalheSolicitacao.origem}}</td>
              <td>{{f.detalheSolicitacao.destino}}</td>
              <td>{{f.dataExpedicao}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

</div>