<div class="container">
  <div class="card card-default">

    <div class="card-body">
      <h5 class="card-title">Solicitações de transporte</h5>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col">Solicitante</th>
              <th scope="col">Origem</th>
              <th scope="col">Destino</th>
              <th scope="col">Descrição</th>
              <th scope="col">Prazo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let solicitacao of solicitacoesTransporte">
              <td>{{solicitacao.solicitante}}</td>
              <td>{{solicitacao.origem}}</td>
              <td>{{solicitacao.destino}}</td>
              <td>{{solicitacao.descricao}}</td>
              <td>{{solicitacao.prazoEntrega}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>