
<div class="card" >
  <div class="card-body">
    <h5 class="card-title">{{title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">POC para o trabalho de conclusão de curso de Arquitetura de Software Distribuído da PUC Minas Virtual</h6>
    <p class="card-text">Aluna: Janaína Carraro Mendonça Lima</p>
    <a href="#" class="card-link">Código fonte</a>
    <a href="#" class="card-link">Vídeo de demonstração</a>
  </div>
</div>
